.container {
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
}

.container:hover .moreButton {
  display: block;
}

.profile {
  margin-right: 0.5rem;
}

.bubble {
  background-color: var(--background-default);
  border-radius: 1rem;
  padding: 0.6rem 0.8rem;
}

.username{  
  color: var(--text-primary);
  font-size: 0.85rem;
  font-weight: 600;
}

.content {
  color: var(--text-primary);
  font-size: 0.9rem;
}

.date {
  color: var(--text-secondary);
  font-size: 0.7rem;
}

.commentContainer {
  display: flex;
  align-items: center;
}

.moreButton {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  font-size: 0.85rem;
  border-radius: 100%;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.moreButton:hover {
  background-color: var(--background-default);
}