.container{
  width: 30rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--background-paper);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title span {
  color: var(--primary-color);
}

.formTitle {
  font-size: 1.4rem;
  margin: 1rem 0;
  text-align: center;
}

.form label {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--grey-300);
  border-radius: 0.3rem;
}

.form button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--primary-dark);
}

.register {
  text-align: center;
  margin-top: 1rem;
  display: block;
}

.register a {
  color: var(--primary-light);
  font-weight: 600;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

.error {
  color: var(--background-paper);
  padding: 0.5rem;
  display: flex;
  background-color: var(--error-light);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 500;
  align-items: center;
}

.error svg {
  margin-right: 0.5rem;

}