.menuBar {
  position: relative;
}

.menuButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.menuContent {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--background-default);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  width: 20rem;
}

.menuContent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}