.container {
    width: 100%;
    background-color: var(--background-paper);
    margin: 1rem 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    position: relative;
}

.profile {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.profile div h4 {
    color: var(--text-primary);
}

.profile div p {
    color: var(--text-secondary);
    font-size: 0.85rem;
}

.content p {
    color: var(--text-primary);
    margin-bottom: 1rem;
    font-size: 0.9rem;
    padding: 1rem;
}

.imageContainer {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
}

.actionButtons button {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    font-size: 0.85rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.actionButtons button:hover {
    color: var(--text-primary);
    background-color: var(--background-default);
}

.actionButtons button svg {
    margin-right: 0.5rem;
}

.showMore {
    font-weight: 600;
    cursor: pointer;
}

.showMore:hover {
    text-decoration: underline;
}

.isLiked > * {
    color: var(--primary-color);
}

.isLiked > *:hover {
    color: var(--primary-dark);
}

.isCommentSectionActive > * {
    color: var(--primary-color);    
}

.isCommentSectionActive > *:hover {
    color: var(--primary-dark);
}

.dropDownMenu {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.dropDownMenuButton {
    cursor: pointer;
    background: none;
    padding: 0.5rem;
    border: none;
    border-radius: 100%;
}

.dropDownMenuButton:hover {
    background-color: var(--grey-200);
}

.deletePost {
    color: var(--danger-dark);
    font-size: 0.85rem;
    cursor: pointer;
    padding: 0.75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .deletePost:hover {
    background-color: var(--grey-200);
  }