.container {
    padding: 1rem;
    background-color: var(--background-paper);
    width: 42.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    border-top: 4px solid var(--primary-light);
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    height: 0.1rem;
    width: 100%;
    background-color: var(--grey-300);
    margin: 1rem 0;
}

.title {
    font-size: 1.2rem;
    color: var(--text-primary);
}

.createPostButton {
  color: var(--text-primary);
  flex: 1;
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  text-align: left;
}

.createPostButton:hover {
  background-color: var(--grey-300);
}