.container {
  width: 100%;
}

.title {
  color: var(--text-secondary);
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

.friendsList {
  padding: 0;
  width: 100%;
}

.friendsItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}

.friendsItem span {
  margin-left: 0.8rem;
  color: var(--text-primary);
  font-size: 0.9rem;
  font-weight: 500;
}

.friendsItem:hover {
  background-color: var(--grey-200);
  cursor: pointer;
}