.container {
  width: 30rem;
}

.title {
  font-size: 1.3rem;
  color: var(--text-primary);
  text-align: center;
  margin: 1rem 0;
  position: relative; /* Add this line */
}

.closeButton {
  position: absolute;
  top: 0;
  right: 1rem; /* Change this line */
  background-color: var(--grey-200);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;
}

.closeButton:hover {
  background-color: var(--grey-300);
}

.headerBox {
  position: relative;
}

.line {
  height: 0.1rem;
  width: 100%;
  background-color: var(--grey-300);
  margin: 1rem 0;
}

.mainContent {
  padding: 0 1rem 1rem 1rem;
  max-height: 80vh;
}

.userInputContainer {
  max-height: 60vh;
  overflow-y: auto;
  margin-bottom: 0.5rem;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profileContainer p {
  font-size: 1rem;
  color: var(--text-primary);
  font-weight: 600;
}

.textarea {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid var(--grey-300);
  border-radius: 0.5rem;
  resize: none;
  font-size: 1rem;
  color: var(--text-primary);
}

.closeButton > * {
  color: var(--text-primary);
}

.createPostButton {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-light);
  color: var(--background-paper);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.createPostButton:hover {
  background-color: var(--primary-dark);
}

.createPostButton:disabled {
  background-color: var(--grey-300);
  cursor: not-allowed;
}