.container {
  margin: 2rem auto;
  padding: 0 20px; 
  display: flex;
  justify-content: center;
  width: 1400px;
  flex-direction: column;
}

.notFound {
  color: var(--text-secondary);
  display: flex;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileInformation {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 1rem;
}

.profileInformation h1 {
  font-size: 2rem;
  color: var(--text-primary);
}

.profileInformation p {
  font-size: 1rem;
  color: var(--text-secondary);
}

.profilePicture {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}

.editProfilePicture {
  margin-left: auto;
  margin-right: 1rem;
  background-color: var(--primary-color);
  color: var(--background-paper);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.editProfilePicture:hover {
  background-color: var(--primary-dark);
}

.postsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem 0;
}