.container {
  margin: 2rem auto;
  padding: 0 20px; 
  display: flex;
  justify-content: center;
  width: 1200px;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.notFound {
  color: var(--text-secondary);
  display: flex;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileInformation {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 1rem;
}

.profileInformation h1 {
  font-size: 2rem;
  color: var(--text-primary);
}

.profileInformation p {
  font-size: 1rem;
  color: var(--text-secondary);
}

.profilePicture {
  width: 8rem !important;
  height: 8rem !important;
  margin-right: 1rem !important;
}

.hideEditProfilePictureButton {
  display: none;
}

.editProfilePicture {
  margin-left: auto;
  margin-right: 1rem;
  background-color: var(--primary-color);
  color: var(--background-paper);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profileInformation {
    flex-direction: column;
    align-items: center;
  }

  .profileInformation h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .profileInformation p {
    font-size: 0.9rem;
    text-align: center;
  }

  .profilePicture {
    width: 6rem;
    height: 6rem;
    margin: 0;
  }

  .editProfilePicture {
    margin: 1rem 0 0 0;
  }
}

.editProfilePicture:hover {
  background-color: var(--primary-dark);
}

.postsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem 0;
}