.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background); /* Use custom color variable */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.searchbar {
  flex-grow: 1; /* Allow search bar to expand and fill remaining space */
  margin: 0 20px;
}

.icons a {
  color: var(--text); /* Use custom color variable */
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--text);
  opacity: 0.05;
}

.icons a:hover {
  background-color: var(--secondary); /* Change background color on hover */
}

.profilePic {
  border-radius: 50%; /* Make the profile picture round */
  margin-right: 1rem;
  border: 1px solid white; /* Add border to profile picture */
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons > * {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text);
}