.navbar {
  position: fixed; /* Change position to fixed */
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--background-paper); /* Use custom color variable */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
  width: 100%; /* Set width to 100% */
  z-index: 999; /* Set a high z-index to ensure it's always on top */
  height: var(--navbar-height); /* Use custom height variable */
}

.logo a {
  text-decoration: none;
  color: var(--text-primary); /* Use custom color variable */
}

.logo {
  flex: 1;
}

.logo h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

.logo h1 span {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .logo h1 {
    font-size: 1.4rem;
  }
}

.icons a:not(.profileClick) {
  color: var(--text-primary); /* Use custom color variable */
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--grey-200); /* Use custom color variable */
}

.icons a:hover:not(.profileClick) {
  background-color: var(--grey-300); /* Change background color on hover */
}

.icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .icons a {
    display: none;
  }
}

.icons:last-child {
  margin-right: 1rem;
}

.icons > * {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text);
}

.profilePictureButton {
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.profilePicture:hover {
  filter: brightness(95%);
}

.profileMenuList li {
  color: var(--text-primary);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.profileMenuList li span {
  margin-left: 0.5rem;
}

.profileMenuList li:hover {
  background-color: var(--grey-200);
}

.links {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.links > a {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 5rem;
  text-align: center;
}

.links > a:hover {
  background-color: var(--grey-200);
}

@media screen and (max-width: 768px) {
  .links {
    margin: 0 0.5rem;
  }

  .links > a {
    padding: 0.5rem 0.2rem;
    width: 4.2rem;
  }

  .icons:last-child {
    margin-right: 0;
  }
}